<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>

    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/sell">SELL</a></li>
                
                </ul>
            </nav>
            <h1 class="band-name band-name-large">The Generics</h1>
            <h3 style="text-align: center;">Signed in</h3>
            <h4 style="text-align: center;"><%= JSON.stringify(loggedIn) %></h4>
        </header>
        <section class="container content-section">
            <h2 class="section-header">SHOES</h2>
            <div class="shop-items">
                <% items.merch.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="row shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>

                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>

                        </div>
                        <div class="row shop-item-details">
                            <span class="shop-item-price">Current Bid: $<%= item.bidPrice / 100 %></span>
                            <input type="number" id="bidVal">
                            <button style="margin-left: 0.5rem;" class="btn btn-warning shop-item-bid-button" id="bidVal" type="button">BID</button>
                            <%if (loggedIn.id == item.seller) { %>
                            <button style="margin-left: 0.5rem;" class="btn btn-info shop-item-accept-button" id="accBtn" type="button">ACCEPT</button>
                            <% } %>

                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">The Generics</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>